@model IEnumerable<Test4.Models.ViewModels.VM_MainCategory_SubCategory>

@using Test4.Models
@using Test4.Models.ViewModels;
@using Test4.Models.Repository;

@{
    string MainTitle = "";
    foreach (var item in Model)
    {
        MainTitle = item.MainTitleName;
        
    }
}

@section BreadCrumb{

    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">صفحه اصلی</a></li>
            <li class="breadcrumb-item active" aria-current="page">@MainTitle</li>
        </ol>
    </nav>
}
@section MainCategory{

    <div class="container col-12 ">
        <aside class="main-row-bg d-block d-md-block ">
            <div class="bg-cover " style="border-radius :20px"></div>
            <div class="container-main">
                <div class="d-block">
                    <section class="content-title section-title mt-5">
                        <div class="align-items-center">
                            <div class="col-auto">
                                <div class="title">
                                    <h2></h2>
                                </div>
                                <div class="subtitle">
                                    <h4 class="text-white">@MainTitle</h4>

                                    <span>با کیفیت ترین محصولات در دسترس شماست</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    @foreach (var item in Model)
                    {

                        <div class="mb-3">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4 pr">
                                <div class="card-product-horizontal">
                                    <div class="card-product-horizontal-img">
                                        <a href="#" class="d-block">
                                            <img src="~/images/mainNav-icon/@item.SubCategoryImage" style="width:100px;height:100px">
                                        </a>
                                    </div>
                                    <div class="card-product-horizontal-content">
                                        <div class="card-product-horizontal-content-title">
                                        </div>
                                        <div class="card-product-horizontal-content-price">
                                            <span class="amount">
                                                @*@item.ProductPrice*@
                                                @Html.ActionLink(item.SubCategoryName, "SubCategory", new { CategoryId = item.SubCategoryId }, new { @class = "mega-menu-link" })

                                                <p class="pt-2">این توضیحات برای ازمایش میباشد</p>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </aside>

    </div>
}