<!-- Phone Slider------------------------------->
<div class="col-lg-12 col-md-12 col-xs-12 pr order-1 d-block">
    <div class="slider-widget-products slider-content-tabs">
        <div class="widget widget-product card slider-content-tabs">
            <header class="card-header header-product">
                <span class="title-one">کامپیوتر و لپ تاپ</span>
                <h3 class="card-title"></h3>
            </header>
            <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage"
                         style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1534px;">
                        <div class="owl-item active tab-item" style="width: 296.75px; margin-left: 10px;">
                            <div class="item">
                                <a href="#" class="d-block hover-img-link" data-toggle="modal"
                                   data-target="#exampleModal">
                                    <img src="/images/slider-product/mitbook.jpg" class="img-fluid"
                                         alt="">
                                    <span class="icon-view">
                                        <strong><i class="fa fa-eye"></i></strong>
                                    </span>
                                </a>
                                <h2 class="post-title">
                                    <a href="#">
                                        هواوای میت بوک X پرو 13.9 اینچ
                                    </a>
                                </h2>
                                <div class="price">
                                    <del><span>۱۲,۰۰۰,۰۰۰<span>تومان</span></span></del>
                                    <ins><span>۱۰,۵۰۰,۰۰۰<span>تومان</span></span></ins>
                                </div>
                                <div class="actions">
                                    <ul>
                                        <li class="action-item like">
                                            <button class="btn btn-light add-product-wishes" type="submit">
                                                <i class="fa fa-heart-o"></i>
                                            </button>
                                        </li>
                                        <li class="action-item compare">
                                            <button class="btn btn-light btn-compare" type="submit">
                                                <i class="fa fa-random"></i>
                                            </button>
                                        </li>
                                        <li class="action-item add-to-cart">
                                            <button class="btn btn-light btn-add-to-cart" type="submit">
                                                <i class="fa fa-shopping-cart"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active tab-item" style="width: 296.75px; margin-left: 10px;">
                            <div class="item">
                                <a href="#" class="d-block hover-img-link" data-toggle="modal"
                                   data-target="#exampleModal">
                                    <img src="/images/slider-product/SL1200_-300x300.jpg"
                                         class="img-fluid" alt="">
                                    <span class="icon-view">
                                        <strong><i class="fa fa-eye"></i></strong>
                                    </span>
                                </a>
                                <h2 class="post-title">
                                    <a href="#">
                                        لپ تاپ چووی الترابوک 14 اینچ پرو
                                    </a>
                                </h2>
                                <div class="price">
                                    <del><span>۳,۲۰۰,۰۰۰<span>تومان</span></span></del>
                                    <ins><span>۲,۵۰۰,۰۰۰<span>تومان</span></span></ins>
                                </div>
                                <div class="actions">
                                    <ul>
                                        <li class="action-item like">
                                            <button class="btn btn-light add-product-wishes" type="submit">
                                                <i class="fa fa-heart-o"></i>
                                            </button>
                                        </li>
                                        <li class="action-item compare">
                                            <button class="btn btn-light btn-compare" type="submit">
                                                <i class="fa fa-random"></i>
                                            </button>
                                        </li>
                                        <li class="action-item add-to-cart">
                                            <button class="btn btn-light btn-add-to-cart" type="submit">
                                                <i class="fa fa-shopping-cart"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active tab-item" style="width: 296.75px; margin-left: 10px;">
                            <div class="item">
                                <a href="#" class="d-block hover-img-link" data-toggle="modal"
                                   data-target="#exampleModal">
                                    <img src="/images/slider-product/zenbook.jpg" class="img-fluid"
                                         alt="">
                                    <span class="icon-view">
                                        <strong><i class="fa fa-eye"></i></strong>
                                    </span>
                                </a>
                                <h2 class="post-title">
                                    <a href="#">
                                        لپ تاپ 13 اینچی ایسوس مدل ZenBook S13 UX392FN - A
                                    </a>
                                </h2>
                                <div class="price">
                                    <del><span>۷,۵۰۰,۰۰۰<span>تومان</span></span></del>
                                    <ins><span>۶,۰۰۰,۰۰۰<span>تومان</span></span></ins>
                                </div>
                                <div class="actions">
                                    <ul>
                                        <li class="action-item like">
                                            <button class="btn btn-light add-product-wishes" type="submit">
                                                <i class="fa fa-heart-o"></i>
                                            </button>
                                        </li>
                                        <li class="action-item compare">
                                            <button class="btn btn-light btn-compare" type="submit">
                                                <i class="fa fa-random"></i>
                                            </button>
                                        </li>
                                        <li class="action-item add-to-cart">
                                            <button class="btn btn-light btn-add-to-cart" type="submit">
                                                <i class="fa fa-shopping-cart"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active tab-item" style="width: 296.75px; margin-left: 10px;">
                            <div class="item">
                                <a href="#" class="d-block hover-img-link" data-toggle="modal"
                                   data-target="#exampleModal">
                                    <img src="/images/slider-product/computer-appel.jpg" class="img-fluid"
                                         alt="">
                                    <span class="icon-view">
                                        <strong><i class="fa fa-eye"></i></strong>
                                    </span>
                                </a>
                                <h2 class="post-title">
                                    <a href="#">
                                        کامپیوتر همه کاره 27 اینچی اپل مدل iMac CTO - A 2019 با صفحه نمایش رتینا
                                        5K
                                    </a>
                                </h2>
                                <div class="price">
                                    <del><span>۳,۵۰۰,۰۰۰<span>تومان</span></span></del>
                                    <ins><span>۲,۰۰۰,۰۰۰<span>تومان</span></span></ins>
                                </div>
                                <div class="actions">
                                    <ul>
                                        <li class="action-item like">
                                            <button class="btn btn-light add-product-wishes" type="submit">
                                                <i class="fa fa-heart-o"></i>
                                            </button>
                                        </li>
                                        <li class="action-item compare">
                                            <button class="btn btn-light btn-compare" type="submit">
                                                <i class="fa fa-random"></i>
                                            </button>
                                        </li>
                                        <li class="action-item add-to-cart">
                                            <button class="btn btn-light btn-add-to-cart" type="submit">
                                                <i class="fa fa-shopping-cart"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item tab-item" style="width: 296.75px; margin-left: 10px;">
                            <div class="item">
                                <a href="#" class="d-block hover-img-link" data-toggle="modal"
                                   data-target="#exampleModal">
                                    <img src="/images/slider-product/asus-laptop.jpg" class="img-fluid"
                                         alt="">
                                    <span class="icon-view">
                                        <strong><i class="fa fa-eye"></i></strong>
                                    </span>
                                </a>
                                <h2 class="post-title">
                                    <a href="#">
                                        لپ تاپ ایسوس زِنبوک 14
                                    </a>
                                </h2>
                                <div class="price">
                                    <del><span>۶,۵۰۰,۰۰۰<span>تومان</span></span></del>
                                    <ins><span>۴,۲۰۰,۰۰۰<span>تومان</span></span></ins>
                                </div>
                                <div class="actions">
                                    <ul>
                                        <li class="action-item like">
                                            <button class="btn btn-light add-product-wishes" type="submit">
                                                <i class="fa fa-heart-o"></i>
                                            </button>
                                        </li>
                                        <li class="action-item compare">
                                            <button class="btn btn-light btn-compare" type="submit">
                                                <i class="fa fa-random"></i>
                                            </button>
                                        </li>
                                        <li class="action-item add-to-cart">
                                            <button class="btn btn-light btn-add-to-cart" type="submit">
                                                <i class="fa fa-shopping-cart"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>