@model IEnumerable<Test4.Models.ViewModels.VM_SubCategory_ProductsBrands>

@{
    ViewBag.Title = "SubCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string MainTitle = "";
    string SubCategory = "";
    foreach (var item in Model)
    {
        MainTitle = item.MainTitleName;
        SubCategory = item.SubCateName;
    }
}
@section BreadCrumb{

    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">صفحه اصلی</a></li>
            <li class="breadcrumb-item"><a href="/Home/Index">@MainTitle</a></li>
            <li class="breadcrumb-item active" aria-current="page">@SubCategory</li>
        </ol>
    </nav>
}
<div class="col-12">
    <div class="d-flex flex-row justify-content-center">
        @foreach (var item in Model)


        {
            <div class="card text-center mb-3 border" style="width: 18rem; margin:.5rem">
                <div class="card-body">
                    <h5 class="card-title">@item.BrandName</h5>
                    @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@

                    @Html.ActionLink("مشاهده", "ProductBrandCategory", new { ProductBrandCategoryId = item.BrandId }, new { @class = "btn btn-primary" })

                </div>
            </div>

        }
    </div>
</div>